<!--
  Title: Exercise 2.4
  Author: Evan Durkin
  Date: January 16, 2022
-->
  <div class="container">
    <br /> <br />
    <h2 class="text-center">Frédéric Chopin</h2>
    <br /> <br />
    <div class="row">
      <div class="col-sm-4"><img src="./assets/Frederic_Chopin_photo.jpeg" style="max-height: 500px;" alt="black and white photograph of a man in a suit and overcoat."><p>Credit: Louis-Auguste Bisson - Ernst Burger: Frédéric Chopin. München 1990, S. 323, Public Domain</p></div>
      <div class="col-sm-8"><h4>Frédéric Chopin (b. March 1, 1810) was a classical composer and pianist during the Romantic period. Chopin was born in Poland and grew up in Warsaw. He studied music in his early years and left home at age 20 and settled in Paris when he was 21. His compositions are mainly solo piano pieces. During his time he gave few public performances despite being a popular figure. He died in 1849, most likely from pericarditis. </h4></div>
    </div>
  </div>
