<div fxLayout="row wrap">

  <div fxFlex>
    <div fxLayout="column">

      <div>
        <img src="./assets/freestocks-2UDlp4foic4-unsplash.jpg" style="max-width: 600px;" />
      </div>

      <div>
        <em>
          Photo by freestocks on <a class="attribution-link" href="https://unsplash.com/photos/2UDlp4foic4" target="_blank">Unsplash</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex style="padding-left: 25px;">
    <h1 class="blue">Who was Mary Shelley?</h1>
    <p>
      Mary Wollstonecraft Shelley (b. August 30, 1797) was a novelist, most famously known for the Gothic novel "Frankenstein; or, The Modern Prometheus" written in 1818. Shelley was born in Somers Town, London. Her mother died just a few weeks after giving birth to her.
      Her famous character, Frankenstein's monster, came about when she spent the summer with with Lord Byron and John William Polidori near Geneva, Switzerland in 1816.
    </p>
  </div>
</div>
